#########################################################
# binaries
#########################################################
dist/

#########################################################
# applications
#########################################################
isd/bin/*.tar.gz
isd/bin/isdh
isd/bin/isdd
#isd/data
#covid/data

#########################################################
# environment
#########################################################
.code/
.idea/
pigsty-app.iml
.DS_Store